* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: sans-serif;
  background: #BDFCC9;
}

body {
  font-size: 1rem;
}

h1,
h2,
h3 {
  color: #337147;
  margin-bottom: 16px;
}

input[type="text"] {
  -webkit-appearance: none;
}

input,
select {
  border: 2px solid #337147;
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px;
  text-align: center;
}

select {
  -webkit-appearance: none;
  position: relative;
  background: #8CDD81;
}

select:focus {
  -webkit-appearance: none;
}

select {
  width: 100%;
  position: relative;
}

.select {
  margin-top: 16px;
  position: relative;
}

.select:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; 
  height: 10px;
  top: 45%; 
  right: 25px;
  border-bottom: 2px solid #337147;
  border-right: 2px solid #337147;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: 50% 0;
}

input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 8px #96C8A2;
  box-shadow: 0 0 0 8px #96C8A2;
}

.input-select {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;  
  justify-content: center;
  padding: 32px;
  text-align: center;
  width: 100%;
}

